@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply cursor-pointer hover:bg-gray-200 rounded-full w-[52px] xl:w-auto h-[52-px] xl:h-auto xl:p-3;
  }

  /* {
    border: 1px solid black;
  }*/

  /*  .blr:hover > .blrs:not(:hover) {
    filter: blur(2px) !important;
    transition-duration: 1s;
  }*/
  .banner {
    @apply cursor-pointer;
  }
}
